@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, */

/* bod {
    background : black;
    padding:0;
    margin : 0;
    font-family : SF Pro Display, SF Pro Icons, Helvetica Neue,Helvetica, Arial,  sans-serif;
    line-height : 1.1;
    letter-spacing : 0rem;

} */


@layer components {
    .HoverAnimation{
        /* @apply object-left-top hover:object-bottom
        transition duration-500 ease-out; */
        object-fit: cover;
        object-position: top left;
        overflow: hidden;
        transition: all 5s ease;
        border: 1px solid rgba(0,0,0,.1)   
    }

    
    .HoverAnimation:hover {
        border: 1px solid rgba(200,200,200,.96) ;
        object-position: bottom;
    }
}
